{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Manager Functions</h1>
        <p><a href="{% url 'reservations_list_manager' %}"> All User Reservations</a>
        </p><p><a href="{% url 'user_create' %}"> Create New User </a></p>
    </div>
    <div>
        <h1>Current Reservations</h1>
    </div>
    {% for Reservation in object_list %}
    <div class="Reservation">
        <h2> Reservation ID:      {{ Reservation.reservation_id }}</h2>
        <p>Reservation DateTime:  {{ Reservation.reservation_dt }}</p>
        <p>Reservation Owner:     {{ Reservation.user_user }}</p>
        <p>Reservation Room:      {{ Reservation.room_room.name }}</p>
        <p>Reservation Building:  {{ Reservation.room_room.building_building.name }}</p>

        <p>
            <a href="{% url 'reservation_edit' Reservation.pk %}">edit</a>
            |
            <a href="{% url 'reservation_delete' Reservation.pk %}">delete</a>
        </p>

    </div>
    {% endfor %}
    <div>
        <em>
            <h2>Make Comments on Past Reservations</h2>
            <a href="{% url 'past_reservations' %}">Make Comments on Past Reservations </a>
        </em>
    </div>
    <div>
        <em>
            <h2>Make a new Reservation</h2>
            <a href = "{% url 'resource_list' %}">Choose a Resource</a>
            |
            <a href = "{% url 'room_list' %}">Choose a Room</a>
        </em>
    </div>
{% endblock %}