{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Current Reservations for {{ manager }}'s users</h1>
    </div>
    {% for Reservation in object_list %}
    <div class="Reservation">
        <h2> Reservation ID:      {{ Reservation.reservation_id }}</h2>
        <p>Reservation DateTime:  {{ Reservation.reservation_dt }}</p>
        <p>Reservation Owner:     {{ Reservation.user_user }}</p>
        <p>Reservation Room:      {{ Reservation.room_room.name }}</p>
        <p>Reservation Building:  {{ Reservation.room_room.building_building.name }}</p>

        <p>
            <a href="{% url 'reservation_edit' Reservation.pk %}">edit</a>
            |
            <a href="{% url 'reservation_delete' Reservation.pk %}">delete</a>
        </p>

    </div>
    {% endfor %}
{% endblock %}