{% extends "base.html" %}

{% block content %}
    {% for comment in object_list %}
    <div class="comment">
        <p>{{ comment.text }}</p>
        <p>
            <a href="{% url 'comment_edit' comment.pk %}">edit</a>
            |
            <a href="{% url 'comment_delete' comment.pk %}">delete</a></p>
    </div>
    {% endfor %}

    <form method="post" action="{% url "comment_create" %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
{% endblock %}