<!DOCTYPE html>
<html>
    {% load static from staticfiles %}
	<head>

    	<meta charset="UTF-8">
    	<title>Conference Room Scheduler</title>
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
	</head>
	<body>
    	<div id="wrapper">
			<div id="header">
				<div>
					<h1>Database Systems Group 7</h1>
				</div>
				<div>
					{% if user.is_authenticated %}
    					<p>
    						<h2>Welcome {{ user.username }}</h2>
							<p>
								<a href="{% url 'password_change' %}">Change Password</a>
    							<a href="{% url 'logout' %}">logout</a>
							</p>
						</p>
					{% else %}
    					<p>Welcome, Guest <a href="{% url 'login' %}">[login]</a></p>
					{% endif %}
				</div>
			</div>
			<div id="content">
				{% block content %}{% endblock content %}
			</div>
			<div id="footer">Copyright &copy; 2015 Group 7  - All Rights Reserved
			</div>
		</div>
	</body>
</html>