
<html>
    {% load static from staticfiles %}
    <head>
        <title>Conference Room Comment Page</title>
        <link rel="stylesheet" href="{% static "main.css" %}">
        <link rel="stylesheet" href="{% static "comment/comment.css" %}">
    </head>
    <body>
        Global base template.
        {% block content %}
        {% endblock %}

        <div id="footer">&copy; Group-7 @2015 - All Rights Reserved
		    <div style="float: right; margin: 20px;">
            </div>
        </div>
    </body>
</html>